.container{
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "display display display display"
  "allclear clear divide multiply"
  "seven eight nine subtract"
  "four five six add"
  "one two three equals"
  "zero zero decimal equals";
}
.padbutton{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  background-color: grey;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  font-size: 20px;
}
.display{
  grid-area: display;
  background-color: black;
  font-size: 20px;
  color: white;
  text-align: right;
}
.zero{
  grid-area: zero;
}
.equals{
  grid-area: equals;
  background-color: rgb(46, 46, 97);
}
.bcolor{
  background-color: rgb(46, 41, 41);
}
.tomato{
  background-color: tomato;
}
.opcolor{
  background-color: aqua;
}
.total {
  padding: 5px 20px;
  color: white;
}
.display{
  padding: 5px 20px;
}
.display #display {
  width: 90%;
  color: white;
  padding: 5px 20px;
  text-align: right;
  background-color: black;
}
.padbutton:hover {
  border: 1px solid white;
  color: #ccc;
}